body {
  font-family:sans-serif;
  color:olivedrab  
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(238, 231, 247);
  width:530px;
  padding: 3px
}

.metaphor {
  text-align: left;
  background-color: lightslategrey;
  color: white;
  padding: 3px;
  margin:3px
 }

.second {
  width:500px;
  align-self: center;
  text-align: justify;
}

.tab{
margin-left: 40px; 
color: black  
}