* {
  font-family:sans-serif
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(252, 251, 248);
}

.second {
  width:500px;
  align-self: center;
  text-align: justify;
}

footer {
  color: lightgreen;
  font-style: italic;
  font-size: small;
  text-align: left;
}